/* TheaterList.css */
.theater-list {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* 너비를 100%로 설정합니다. */
    margin: 20px auto; /* 네브바와의 간격을 늘립니다. */
    position: relative;
    text-align: center;
}

.select-container::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #555 transparent transparent transparent;
}

.select-container select {
    flex: 1; /* 선택 상자가 컨테이너의 너비를 채우도록 설정합니다. */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #894394;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
}

.select-container select:hover {
    background-color: #f2f2f2;
}

.select-container select:focus {
    outline: none;
    border-color: #894394;
}

.link {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #a475ab;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

.link:hover {
    background-color: #d2acd8;
}
